* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 155%;
    letter-spacing: 0.06em;
    font-size: 18px;
}

#mainContent {
    background-color: #fcfcfc;
}
.parallax_img {
    /* The image used */
    background-image: url(responsive.png);
  
    /* Set a specific height */
    min-height: 700px; 
    /* min-width: 800px */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-feature-settings: 'cpsp' on;   
    color: #000000;
    background-color: #ffffff;
    padding: 15px 18px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: inline-block;
    border: none;
    border-radius: 70px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.button:hover {
    color: white;
    background-color: black;
}

p {
    /* width: 500px; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155%;
    /* or 28px */  
    letter-spacing: 0.06em;
    color: #4A4A4A;
}

.intro-header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 118%;
    /* or 35px */
    letter-spacing: 0.045em;
    max-width: 550px;
    color: #000000;
}

.intro-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 122%;
    /* or 39px */
    width: 473.13px;
    letter-spacing: 0.06em;
    
    color: #000000;
}

.team-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: #000000;
}

.bold {
    font-weight: bold;
    font-size: 14px;
}
.gray-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 161.69%;
    /* or 49px */
    color: #8A959D;
}
.number {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 90px;
line-height: 118%;
/* or 106px */

letter-spacing: 0.045em;

color: #9EADB9;
}
.img-shadow {
box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
transition: all 0.3s ease 0s;

}
.img-shadow:hover {
    box-shadow: 0 14px 28px rgba(77, 77, 77, 0.1), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-7px);
}
.white-bkgd {
    background: #ffff;
}
figure {
    display: inline-block;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    margin-right:8%;
    text-align: right;
    font-family: "SF Pro Text", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 155.19%;
    /* or 16px */
    color: #4A4A4A;
}

figure.weeds_figure {
    margin-left: 10%;
}

figure.dating_figure {
    margin-left: 15%;
}

.storyboard_img {
    margin-left: 15%;
    height: auto;
    /* width: 20vw; */
    cursor: zoom-in;
    width: 90%;
}

.personaPics {
    height: auto;
    width: 100%;
    cursor: zoom-in;
}

#catalog_cover {
    height: auto;
    width: 100%;
    /* margin-top: 45px; */
}
.catalog-padding {
    padding-right: 0px;
}

.modal-dialog {
    width: 0%;
    height: 0%;
    margin: 2% 0% 0% 20%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal_L {
    height: auto;
    width: 60vw;
    margin: auto;
    cursor: zoom-out;
}
#lowfi_1, #lowfi_6, #lowfi_8 {
    width: 100%;
}
#speeddate_1 {
    height: auto;
    width: 90%;
    cursor: zoom-in;
}

#speeddate_2 {
    height: auto;
    width: 90%;
    cursor: zoom-in;
}


#desktop_1 {
    height: auto;
    width: 100%;
    cursor: zoom-in;
}

#desktop_2 {
    height: auto;
    width: 100%;
    cursor: zoom-in;
}

#desktop_3 {
    height: auto;
    width: 100%;
    cursor: zoom-in;
}

#desktop_4 {
    height: auto;
    width: 100%;
    cursor: zoom-in;
}


#branding {
    height: auto;
    width: 90%;
    cursor: zoom-in;
}

#styleguide {
    height: auto;
    width: 90%;
    cursor: zoom-in;
}

#catalog_mobile {
    width: 90%;
    margin-left: 4%;
    margin-top: 20px;
}

#finalDesktop_offset {
    padding-top: 0px;
}

p.text-right {
    font-weight: bold;
    font-size: 8vw;
    margin-bottom: -3.4vw;
}

/* ul.navbar-nav {
    padding-top: 0px;
    font-size: 16px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
} */

/* nav a{
    font-size: 12px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}
.bold {
    font-weight: bold;
}
a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
    text-decoration: none;
} */


/* #amy:hover, #amy:active {
    color: black;
} */

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    /* line-height: 155.19%; */
    letter-spacing: 0.08em;
    color: #000000;
}

.list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 191.69%;
    /* or 58px */
    color: #000000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 118%;
    /* or 142px */
    
    letter-spacing: 0.045em;
    
    color: #000000;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 155.19%;

    /* or 22px */
    color: #4A4A4A;
    text-align: center;
}

li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130.5%;
    list-style-type: none;
    /* or 39px */
    letter-spacing: 0.045em;
    color: #000000;
}

#copyright {
    font-family: "SF Pro Text", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #767676;
}

footer {
    padding-top: 30px;
}
footer a{
    color: #767676;
}

footer a:hover {
    color: black;
    text-decoration: none;
}
#nextPage, #prevPage {
    /* text-align: right; */
    /* margin-right: -13%; */
    background: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 114px;
    height: 56px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    justify-content: center;
}

#nextPage:hover {
    cursor: pointer;
    transform: translateY(-7px);
}

#nextText {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.07em;
    text-transform: lowercase;
    font-feature-settings: 'cpsp' on;
    color: #000000;
}
.header-margin {
    margin-top: 125px;
}

@media (min-width: 1440px){
    #resize1 {
        max-width: 1440px;
        margin: auto;
    }
}

@media (max-width: 1024px){
    h1 {
        font-size: 80px;
    }
    .brand-img {
        max-width: 100%;
    }
    #lowfi_1, #lowfi_6, #lowfi_8 {
        /* width: 50%; */
    }
    .gray-text {
        padding-left: 50px;
    }
    .intro-header {
        font-size: 24px;
    }
    .intro-text {
        font-size: 24px;
        line-height: 122%;
        letter-spacing: 0.06em;
    }
    .gray-text {
        padding-top: 150px;
    }
    }  

@media (max-width:768px) {
    .brand-img {
        max-width: 105%;
    }
    #catalog_cover {
        height: auto;
        width: 100%;
        /* margin-top: 45px; */
    }
    h1 {
        font-size: 120px;
    }
    .gray-text {
        padding-top: 150px;
    }
    .intro-header {
        font-size: 20px;
    }
    .intro-text {
        font-size: 20px;
    }
    p {
        font-size: 18px;
        width: auto;
    }
    li {
        font-size: 24px;
    }
    .align-self-center {
        align-self: start! important;
    }
    /* Modal */
    .modal-dialog {
        width: 0%;
        height: 0%;
        margin: 2% 0% 0% 5%;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .modal_L {
        height: auto;
        width: 90vw;
        margin: auto;
        cursor: zoom-out;
    }
    .personaPics {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }

    .storyboard_img {
        margin-left: 0%;
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }

    #speeddate_1 {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    
    #speeddate_2 {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    #lowfi_1, #lowfi_6, #lowfi_8 {
        /* width: 40%; */
    }

    #branding {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    

    #catalog_mobile {
        height: auto;
        width: 100%;
        margin-left: 0%;
    }

    #desktop_1 {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    
    #desktop_2 {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    
    #desktop_3 {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    
    #desktop_4 {
        height: auto;
        width: 100%;
        cursor: zoom-in;
    }
    #nextPage {
        /* text-align: right;
        margin-right: 0%; */
    }
}

@media (min-width: 768px){
    .storyboard-spacing {
        max-width: 100%;
    }

    .role-spacing {
        max-width: 90%;
    }
    h2 {
        font-size: 100px;
    }
    .need-spacing {
        padding-top: 40px;
    }
    .mobile-margin {
        margin-top: 60px;
    }
}
@media (max-width:425px) {
    h1 {
        font-size: 75px;
    }
    h2 {
        font-size: 70px;
    }
    .h2-margin {
        margin-top: 30px;
    }
    .gray-text {
        padding-top: 0px;
    }
    .number {
        font-size: 70px;
    }
    /* .mt-5 {
        margin-top: 0rem!important;
    } */
    .pl-5 {
        padding-left: 1rem!important;
    }
    .intro-header {
        margin-top: 50px;
    }
    .mobile-margin {
        margin-left: 30px;
    }
    .intro-text {
        margin-top: 20px;
    }
    p {
        /* width: auto; */
    }
    .brand-img {
        width: 100%;
        margin-top: 50px;
    }
    .quote {
        width: 90%;
    }
    .button {
        float: left;
    }
    
    #nextPage {
        float:right;
    }
    #catalog_cover {
        margin-top: 50px;
    }
    #speeddate_1, #speeddate_2 {
        margin-top: 20px;
        width: 80%;
    }

    #lowfi_4, #lowfi_6, #lowfi_8, #lowfi_1  {
        margin: auto;
        width: 100%;
        margin-top: 30px;
    }
    
    .ml-4, .ml-5 {
        margin-left: 0rem !important;
    }
    #desktop_2 {
        margin-top: 30px;
    }
    .user-flow {
        width: 100%;
    }

}
@media (max-width: 375px) {
    .mobile-margin {
        margin-left: 10px;
    }
}
@media (max-width:320px) {
    h1 {
        font-size: 58px;
    }
    h2 {
        font-size: 40px;
    }
    .intro-header {
        font-size: 22px;
    }
    .intro-text,  .gray-text  {
        font-size: 18px;
    }
    .number {
        font-size: 50px;
    }
    p {
        font-size: 16px;
    }
    li {
        font-size: 18px;
    }
    .mobile-margin {
        margin-left: 10px;
    }
 
}

    /* @media screen and (max-width: 768px) {
	.parallax_img {
		background-attachment: inherit;
	}
} */