* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 155.19%;
    letter-spacing: 0.04em;
    font-size: 20px;
}
#mainContent {
    background-color: #fcfcfc;

}
.parallax_img {
    /* The image used */
    background-image: url("cinnabon_home.png");
  
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 145%;

    letter-spacing: 0.07em;

    color: #000000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 118%;

    letter-spacing: 0.045em;

    color: #444444;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 155.19%;

    /* or 22px */
    color: #4A4A4A;
    text-align: center;
}

.h2-heading {
    font-family: "SF Pro Text", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* letter-spacing: 0.04em; */
/* or 31px */


color: #4A4A4A;
}

#cinnabonTitle {
    background-image: url("cinnabon_header.png");
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin-left: -25px;
    margin-top: -20px;
    padding-top: 30px;
}
/*this is to adjust margin for intro */
/* div.col-md-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 139.19%;
    /* or 17px */
    /* letter-spacing: 0.015em; */
    /* color: #4A4A4A; */
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */
}

/* div.col-md-10 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155.19%; */
    /* or 19px */
    /* color: #4A4A4A;
    margin-top: 20px; */
    /* margin-bottom: 50px; */
}



/* Section Header CSS */
.sectionHeader {
    list-style-type: square;
    margin-left: -18px;
}

ul.sectionHeader li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 155.19%;
    /* or 37px */
    letter-spacing: 0.045em;
    color: #000000;
}

ul.list-unstyled {
    list-style: square inside url("dash.svg");
    list-style-position: outside;
}
p {
    font-family: 'neue-haas-unica', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #4A4A4A;
    /* text-align: justify; */
}
.italic-text {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 150.5%;
    /* or 37px */

    letter-spacing: 0.07em;
    color: #000000;
}
.large-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 145%;

    letter-spacing: 0.07em;

    color: #000000;
}
.list {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 191.69%;
        /* or 58px */
        color: #000000;
}
#goals {
    background-color: white; 
}
/* Images */
.img-shadow {
    box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
    transition: all 0.3s ease 0s;
}

.img-shadow:hover {
    box-shadow: 0 14px 28px rgba(77, 77, 77, 0.1), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-7px);
}
#cinnabon_cover {
    width: 90%;
    height: auto;
}

.compPics {
    width: 30vw;
    height: auto;
    cursor: zoom-in;
}

#prototype1 {
    width: 90%;
    height: auto;
    cursor: zoom-in;
}

#prototype2 {
    width: 95%;
}

#prototype3 {
    width: 95%;
    height: auto;
}

#cinnabon_process {
    width: 90%;
    height: auto;
    cursor: zoom-in;
}

#cinnabon_visual {
    width: 95%;
}

#cinnabon_figma {
    width: 95%;
    height: auto;
    cursor: zoom-in;
}

#cinnabon_final {
    width: 95%;  
    height: auto;  
}

#cinnabon_revision {
    width: 95%;
    height: auto;
}

#cinnabon_video {
    width: 90%;
    height: auto;
    box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
}

.codedPic {
    width: 95%;
    height: auto;
    margin-bottom: 5%;
    box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
}

button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;

}
button:hover {
    background: black;
    color: #fff;
    text-decoration: none;
}
/* Figures */

.figure-caption {
    font-family: "SF Pro Text", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 155.19%;
    /* or 16px */
    color: #4A4A4A;
}
/* Carousel */
#cinnabonCarousel {
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

#cinnabon_javascript {
    width: 90%;
    height: auto;
    cursor: zoom-in;
}

/* Modal */
.modal-dialog {
    width: 0%;
    height: 0%;
    margin: 2% 0% 0% 20%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal_L {
    height: auto;
    width: 60vw;
    margin: auto;
    cursor: zoom-out;
}

/* Navbar CSS */

nav a{
    font-size: 12px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}
.bold {
    font-weight: bold;
}
a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
    text-decoration: none;
}

#copyright {
    font-family: "SF Pro Text", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #767676;
}

footer{
    padding-top: 30px;
}

footer a{
    color: #767676;
}

footer a:hover {
    color: black;
    text-decoration: none;
}
#nextPage {
    text-align: right;
    margin-right: -13%;
}

#nextText {
    font-family: "SF Pro Text", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155.19%;
    /* or 25px */
    color: #4A4A4A;
}

@media (max-width:768px) {
    div.col-md-2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 139.19%;
        /* or 17px */
        letter-spacing: 0.015em;
        color: #4A4A4A;
    }
    
    div.col-md-10 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 155.19%;
        /* or 19px */
        color: #4A4A4A;
    }

    /* Modal */
    .modal-dialog {
        width: 0%;
        height: 0%;
        margin: 2% 0% 0% 5%;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .modal_L {
        height: auto;
        width: 90vw;
        margin: auto;
        cursor: zoom-out;
    }

    #prototype1 {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }

    #cinnabon_process {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }

    #cinnabon_javascript {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }
    #nextPage {
        text-align: right;
        margin-right: 0%;
    }
    
}

@media screen and (max-width: 768px) {
	.parallax_img {
		background-attachment: inherit;
	}
}