* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 155.19%;
    letter-spacing: 0.04em;
    font-size: 20px;
}

.parallax_img {
    /* The image used */
    background-image: url("cinnabon_home.png");
  
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    /* letter-spacing: 0.07em; */
    text-transform: lowercase;
    font-feature-settings: 'cpsp' on;   
    color: #000000;
    background-color: #ffffff;
    padding: 15px 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: inline-block;
    border: none;
    border-radius: 70px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.button:hover {
    color: white;
    background-color: black;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    /* or 310px */
    letter-spacing: 0.08em;
    
    color: #000000;
}

.intro-header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 118%;
    /* or 35px */
    letter-spacing: 0.045em;
    color: #000000;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */  
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130.5%;
    /* or 39px */
    letter-spacing: 0.045em;
    color: #000000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 118%;
    /* or 142px */
    
    letter-spacing: 0.045em;
    
    color: #000000;
}

.gray-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 118%;
    letter-spacing: 0.045em;

    /* or 49px */
    color: #8A959D;
}
.number {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 90px;
line-height: 118%;
/* or 106px */

letter-spacing: 0.045em;

color: #9EADB9;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 155.19%;

    /* or 22px */
    color: #4A4A4A;
    text-align: center;
}

.download-button {
    background-color: #ffffff;
    padding: 20px 30px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    display: inline-block;
    border: none;
  border-radius: 0px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.download-button:hover {
    background-color: #ffffff;
    border-radius: 0px;
    transform: translateY(-7px);
}

#cinnabonTitle {
    background-image: url("cinnabon_header.png");
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin-left: -25px;
    margin-top: -20px;
    padding-top: 30px;
}

/* Section Header CSS */
.sectionHeader {
    list-style-type: square;
    margin-left: -18px;
}

ul.sectionHeader li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 155.19%;
    /* or 37px */
    letter-spacing: 0.045em;
    color: #000000;
}

ul.list-unstyled {
    list-style: square inside url("dash.svg");
    list-style-position: outside;
}

.list {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 191.69%;
        /* or 58px */
        color: #000000;
}

/* Images */
.img-shadow {
    box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
    transition: all 0.3s ease 0s;
}

.img-shadow:hover {
    box-shadow: 0 14px 28px rgba(77, 77, 77, 0.1), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-7px);
}
#cinnabon_cover {
    width: 90%;
    height: auto;
}
.cinnabon-pic {
    width: 90%;
}
.large-img {
    width: 90%;
}
.compPics {
    width: 80%;
    /* height: auto; */
    cursor: zoom-in;
}

#cinnabon_process {
    width: 100%;
}
#prototype1 {
    width: 100%;
}
#cinnabon_video {
    width: 90%;
    height: auto;
    box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
}

.codedPic {
    width: 80%;
    height: auto;
    margin-bottom: 5%;
    box-shadow: -3px 6px 146px -97px rgba(56,56,56,1);
}

/* Figures */

.figure-caption {
    font-family: "SF Pro Text", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 155.19%;
    /* or 16px */
    color: #4A4A4A;
}
/* Carousel */
#cinnabonCarousel {
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

#cinnabon_javascript {
    width: 90%;
    height: auto;
    cursor: zoom-in;
}

/* Modal */
.modal-dialog {
    width: 0%;
    height: 0%;
    margin: 2% 0% 0% 20%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal_L {
    height: auto;
    width: 60vw;
    margin: auto;
    cursor: zoom-out;
}

/* Navbar CSS */

/* nav a{
    font-size: 12px;
    line-height: 133.69%;
    letter-spacing: 0.2em;
}
.bold {
    font-weight: bold;
}
a.nav-link, a.design_sub {
    color: #767676;
}

a.nav-link:hover, a.nav-link:active, a.design_sub:hover, a.design_sub:active {
    color: black;
    text-decoration: none;
} */

#copyright {
    font-family: "SF Pro Text", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #767676;
}

footer{
    padding-top: 30px;
}

footer a{
    color: #767676;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

#nextPage {
    /* text-align: right; */
    /* margin-right: -13%; */
    background: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 114px;
    height: 56px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    justify-content: center;
}

#nextPage:hover {
    cursor: pointer;
    transform: translateY(-7px);
}

#nextText {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.07em;
    text-transform: lowercase;
    font-feature-settings: 'cpsp' on;
    color: #000000;
}

@media (min-width: 1440px){
    #resize1 {
        max-width: 1440px;
        margin: auto;
    }

}
@media (max-width: 1040px) {
    .ml-5 {
        margin-left:0rem!important;
    }
}
@media (max-width:768px) {
    .ml-5 {
        margin-left:0rem!important;
    }
    div.col-md-2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 139.19%;
        /* or 17px */
        letter-spacing: 0.015em;
        color: #4A4A4A;
    }
    
    div.col-md-10 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 155.19%;
        /* or 19px */
        color: #4A4A4A;
    }

    /* Modal */
    .modal-dialog {
        width: 0%;
        height: 0%;
        margin: 2% 0% 0% 5%;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .modal_L {
        height: auto;
        width: 90vw;
        margin: auto;
        cursor: zoom-out;
    }

    #prototype1 {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }

    #cinnabon_process {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }

    #cinnabon_javascript {
        width: 90%;
        height: auto;
        cursor: zoom-in;
    }
    #nextPage {
        /* text-align: right; */
        margin-right: 0%;
    }
    
}

@media (max-width: 425px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 50px;
    }
    .gray-text {
        font-size: 30px;
    }
    .codedPic, .large-img {
        width: 100%;
    }
    .cinnabon-pic {
        margin-top: 40px;
    }
    .button {
        float:right;
    }
}
@media screen and (max-width: 768px) {
	.parallax_img {
		background-attachment: inherit;
	}
}