*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 30px;
    font-family: 'sf pro text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-container {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
    max-width: 1440px;
}


nav {
    float: right;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    position: relative;
}

nav a {
    color:#4A4A4A;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Raleway';
}

nav a:hover{
    color: black;
    font-style: bold;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nounderline {
    text-decoration: none !important
}

h1, h2, h3 {
    font-family: 'raleway';
    font-weight: 400;
    color: #000;
}

h1 {
    font-size:30px;
    line-height: 50px;
    margin-top: 100px;
}

h3 {
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 30px;
    border-left: 2px solid #4A90E2;
    padding-left: 20px;
}

.column-grid {
    display: grid;
    margin-top: 50px;
    width: 872px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: ;
    margin-left: 250px;
}

mark {
    background-color: #fbf1b5;
}
.center-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}
.target-link a {
    color: #000;
    text-decoration: underline;
}
.target-link a:hover {
    color:#4285f4;
    text-decoration: none;
}

.full-text{
    max-width: 940px;
}
/*.middle-section {
    background-color: #F5F5F5;
    margin-top: 100px;
    margin-bottom: 100px;
}*/

.middle-section h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-style: none;
}
.middle-section-list {
    font-family: 'raleway';
    max-width: 800px;
    font-size: 24px;
    line-height: 38px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 0px;
}
.jumbotron {
    background-color: #F5F5F5 !important; 
}
ol li {
    font-size: 20px;
    line-height: 38px;
}

.image-border {
    border: 1px solid #EEE;
    display: block;
    margin-bottom: 20px;
}

.next-container {
    margin: 100px 280px;
    clear: both;
    padding-bottom: 100px;
    max-width: 1440px;
}
.next-container a {
    text-decoration: none;
    color: #4A4A4A;
}

.next-container a:hover {
    color: #000;
}
.next-container p {
    padding-top: 20px;
    font-family: 'raleway';
    font-size: 16px;
    line-height: 20px;
}
.next-float-left {
    float: left;
}
.next-float-right {
    float: right;
}
footer  hr {
    margin-top: 50px;
    clear:both;
    border-top: .3px solid #EEE;
    justify-content: center;
}

.footer-container {
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    font-family: 'raleway';
    max-width: 1440px;
}

.float-left img{
    vertical-align: top;
}
.float-left p {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    padding-left:10px;
    color: #4A4A4A;
}

.float-right {
    float: right;
}
footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-left: 57px;
    position: relative;
}