*{
    margin: 0;
    padding: 0;
}

.navbar-inverse .navbar-nav li a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 133.69%;
        letter-spacing: 0.2em;
        color: #767676;
}
.navbar-inverse .navbar-nav li a:hover{
    color:black;
}

.navbar-toggle{
    background-color:#767676;
}

navbar navbar-inverse navbar-fixed-left{
    margin-top: 3em;
}
 /* .nav-container {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
    max-width: 1440px;
} */







/* nav a:hover{
    color: black;
    font-style: bold;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}  */
.nounderline {
    text-decoration: none !important
  }

.intro-header {
    max-width: 1005px;
    display: block!important!;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0.1em;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 171.19%;
    /* or 41px */
    letter-spacing: 0.07em;

    color: #000000;
}
h1 a {
    color: black;
    /* text-decoration: underline; */
}

h1 a:hover {
    color:#4A90E2;
    text-decoration: none;
}

.grid-container {
    max-width: 1005px;
}

.container a {
    text-decoration: none;
    color: #000;
}

.responsive img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}
.responsive:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 15px 25px -10px (rgba(0, 0, 0, 0.25));
}

#ant-image {
    background-image: url('My webpage images/ant_cover.png');
}

#catalog-image {
    background-image: url('My webpage images/catalog_cover.png');
}

#junto-image {
    background-image: url('My webpage images/junto_cover.png');
}

#cinnabon-image {
    background-image: url('My webpage images/cinnabon_cover.png');
}

#art-human-circuit-image {
    background-image: url('My webpage images/humancir_cover.png');
}

#heuristic-image {
    background-image: url('My webpage images/Heuristic/Heuristic\ Header.png');
}
.design {
    height: 160px;  
}
.design p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    line-height: 131.69%;
    /* identical to box height, or 198px */
    letter-spacing: -0.045em;
    color: rgba(113, 173, 213, 0.5);
}
.first-part{
    background-color: #EBF7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.second-part {
    background: #E9E2FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.third-part {
    background: #FDE2F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.col-sm {
    flex-grow: 0;
}
.responsive {
    /* background-position: center; */
    width: 443px;
    height: 315px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid #EEE; */
    margin: 2%;
    overflow: hidden;
    /* max-width: 416px; */
}
.responsive:hover {    
    background-size: auto 120%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 15px 25px -10px (rgba(0, 0, 0, 0.25));
}
.responsive-text {
    margin-top: 235px;
    background-color: rgba(252, 252, 252, 0.8);
    font-family: 'sf pro text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    color: black;
    display: inline-block;
    font-size: 14px;
}

.text-hover:hover {
    color:#4A90E2;
}

nav{
    right: 0!important;
    left:auto!important;
}
.navbar navbar-inverse navbar-fixed-left{
    background-color: white;
}
.navbar-inverse{
    background-color: white;
    border-color: white;
}
.navbar-nav li a{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    padding-right: 30px;
}

.research p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    line-height: 131.69%;
    /* or 198px */
    letter-spacing: -0.045em;
    color: rgba(107, 85, 167, 0.5);
}
.research .fashion{
 
}
.fashion p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    line-height: 131.69%;
    /* or 198px */
    letter-spacing: -0.045em;

    color: rgba(159, 111, 146, 0.5);
}
.nopadding{
    padding:0!important;
    margin:0!important;
}
